


.App-header{
  background-color: #05215a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.inputstyle{
  border-radius: 30px;
  border: rgb(200, 42, 24);
  background-color: darkturquoise;
}
.btncol{
  border-radius: 30px;
  background-color: crimson;
  color: cyan;
}


